.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  :root{
    --primary-text-color:var(--primary-text-color) #183b56;
    --secondary-text-color :#577592;
    --accent-color: #2294ed;
    --padding-inline-section: 20px;
  }
  body{
    font-family: 'Poppins','sans-serif';
    color:var(--primary-text-color);

  }
  h1{
    font-size:3rem;
  }
  h2{
    font-size:2rem;

  }
 

  p{
    font-family: 'Poppins','sans-serif';
    font-size: 1.25rem;
    /*color:var(--secondary-text-color);*/
    line-height: 1.8rem;
  }
  a{
    text-decoration: none;
    display: inline;
  }

  ul{
    list-style: none;
  }
   /*utility classes*/
  .small-bold-text{
    font-size: 1rem;
    font-weight: 700;
  }
  .container{
    max-width: 1180px;
    margin-inline:auto;
    padding-inline: var(--padding-inline-section);


  }

  .flex{
    display:flex;
    align-items: center;
  }

  .hover-links{
    color:var(--primary-text-color);
    transition:0.2s ease-out;
  }
  .primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 600;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition:0.2s ease-out;
    
  }
.primary-button:hover{
    background-color: var(--accent-color--dark);
    color:var(--primary-text-color) !important;
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 600;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
    
}

.secondary-button:hover{
    border-color: var(--accent-color);
    color:var(--accent-color) !important;
}

  /*top bNNER*/
  

  .main-nav{
    margin-top: 20px;
  justify-content: space-between;

  }
 

.nav-links{
 flex-basis: 730px;
}

  .nav-links ul{
    justify-content: end;
    gap:40px ;
  }
  b{
    color: #2294ed;
  }
  .photu{
    height: 390px;
    width: 490px;
  }
  .heading{
    margin-right: 900px;

  }
  .icon{
    background-color: #2294ed;
    color: white;
    border-radius: 15%;
    justify-content: space-between;
    height: 80px;
    width: 120px;
    padding: 15px;
    margin-left: 200px;
    margin-right: 150px;
    border: #2294ed;
  }
  a{
    color: white;
    text-decoration: none;
  }
 #div1{
    float: left;
    width: 33.3%;
    padding-left: 100px;
 }
 #div2{
    float: right;
    width: 33.3%;
 }
 #div3{
  width: 33.3%;
  margin: 0 auto;
 }
  .card2{
    border: 0 solid black;
    border-radius: 10%;
    background-color: #BEBEBE;
    height: 390px;
    width: 310px;
    margin-left: 20px;
    padding: 10px;
  }
  .card1{
    border: 0 solid black;
    border-radius: 10%;
    background-color: #BEBEBE;
    height: 390px;
    width: 310px;
    margin-left: 60px;
    padding: 10px;
  }
  .pic{
    height: 50px;
    width: 50px;
  }
  
.foot{
  background-color: #A9A9A9;
  height: 200px;
  width: 100%;
}
#face{
 margin-left: 650px;
}
#you{
margin: 28px 13px;
}
#linkedin{
margin: 5px 20px;
}
#insta{
  margin-right: 550px;
}
.end{
  text-align: center;
  color: white;
}